
/*@keyframes loader{
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(360deg);
    }

  
}*/
body{
  background-image: url(plantilla-animales.jpg);
}
.titulo-marca{
  text-align: center;
  background-color: #484499;
}
#titulo{
  color: white;
  font-size: 30px;
}
h1{
  font-family: "nanum-gotic";
}
