<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" name="viewport">
  <title>Bienvenido a tienda virtual MISURU</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../css/estilo.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
</head>
<body>
  <div class="container-fluid text-center" id="titulo-nombre-marca" >
    <div class="titulo-marca" id="titulo">
      <h1>MISURU</h1>
      <p>tienda online</p>
    </div>
  </div>  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="nav nav-pills">
        <a class="navbar-brand" href="../index.html">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="productos.html">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contacto.html">Contacto</a>
            </li>  
          </ul>
        </div>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="linea-oso">
      <div class="col-sm-4">
        <h3>Manta oso</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <img class="col-12" src="../img-tienda/1a.jpg" alt=" error">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>

      <div class="col-sm-4">
        <h3>Almohadones oso</h3>
        <img class="col-12" src="../img-tienda/2a.jpg" alt="error">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      </div>

      <div class="col-sm-4">
        <h3>Peluche oso</h3> 
        <img class="col-12" src="../img-tienda/3a.jpg" alt="error">      
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div>
        <p>volver a la pagina anterior</p>
        <a class="nav-link active" href="../index.html">home</a>
      </div>
    </div>
  </div>
</body>
</html>