<div class=".container mt-5">
    <div class="linea-oso">
    
      <div class="col-sm-4">
        <h3>Manta oso</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <img class="col-12" src="../img-tienda/1a.jpg" alt=" error">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>

      <div class="col-sm-4">
        <h3>Almohadones oso</h3>
        <img class="col-12" src="../img-tienda/2a.jpg" alt="error">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      </div>

      <div class="col-sm-4">
        <h3>Peluche oso</h3> 
        <img class="col-12" src="../img-tienda/3a.jpg" alt="error">      
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div>
        <p>volver a la pagina anterior</p>
        <a class="nav-link active" href="../index.html">home</a>
      </div>
    </div>
  </div>